:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  /* Colors */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  /* Transition */
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =========== */
/* Base styles */
/* =========== */
body {
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: var(--color-slate);
  background-color: var(--color-white);
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.btn {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 0;
}
.link {
  font-style: normal;
  letter-spacing: 0.04em;
  text-decoration: none;
}
.list {
  list-style: none;
}

/* ====== */
/* Header */
/* ====== */
.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}
/* --Navigation-- */
.nav {
  display: flex;
  align-items: center;
}
.logo {
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-right: 120px;
}
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
.header-logo-part {
  color: var(--color-navy-blue);
}
.nav-list {
  display: none;
}
@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
    margin-right: 122px;
  }
}
@media only screen and (min-width: 1158px) {
  .nav-list {
    margin-right: 332px;
  }
}
.nav-link {
  position: relative;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: var(--color-navy-blue);
  transition: var(--transition-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-ocean);
}
.current {
  color: var(--color-ocean);
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  background-color: var(--color-ocean);
  border-bottom: 4px solid var(--color-ocean);
  border-radius: 2px;
}
/* --Contacts-- */
.contacts {
  font-style: normal;
}
@media only screen and (min-width: 768px) {
  .contacts {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 1158px) {
  .contacts {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.contacts-list {
  display: none;
}
@media only screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
}
.contacts-item {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.contacts-link {
  color: var(--color-slate);
  transition: var(--transition-color);
}
@media only screen and (min-width: 1158px) {
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-ocean);
}
.contacts-link:active {
  color: var(--color-iris);
}
.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-left: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}
.header-burger {
  fill: var(--color-navy-blue);
}
@media only screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

/* ====== */
/* Footer */
/* ====== */
.footer {
  height: 664px;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--color-navy-blue);
}
@media only screen and (min-width: 768px) {
  .footer {
    height: 456px;
    padding-left: 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer {
    height: 312px;
    padding-top: 100px;
    padding-left: 0;
    padding-bottom: 100px;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
  }
}
/* --Footer Logo-- */
.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer-logo-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo-container {
    margin-right: 120px;
  }
}
.footer-logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 16px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-part {
  color: var(--color-cloud);
}
.footer-desc {
  width: 268px;
  color: var(--color-cloud);
}
@media only screen and (min-width: 768px) {
  .footer-desc {
    width: 264px;
  }
}
/* --Footer Socials-- */
.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer-socials {
    align-items: start;
    justify-content: start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-socials {
    margin-right: 80px;
  }
}
.footer-subtitle {
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--color-white);
}
.socials-list {
  display: flex;
  gap: 16px;
}
.socials-link {
  width: 100%;
  height: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-iris);
  border-radius: 50%;
  transition: var(--transition-bg);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--color-green);
}
.socials-icon {
  fill: var(--color-cloud);
}
/* --Footer Subs-- */
.footer-form-container {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-form-container {
    text-align: start;
  }
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
}
.footer-input {
  min-width: 320px;
  max-width: 398px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition);
}
@media only screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}
.footer-input:focus {
  border-color: var(--color-iris);
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  color: var(--color-white);
}
.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: var(--color-white);
  background-color: var(--color-iris);
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;
  transition: var(--transition-bg);
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--color-ocean);
}
/* =================Studio=============== */

/* ==== */
/* Hero */
/* ==== */

.hero {
  max-width: 428px;
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;
  background-color: var(--color-navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/index/bg-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/index/bg-mob@2x.jpg);
  }
}
@media only screen and (min-width: 429px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/index/bg-tab@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/index/bg-tab@2x.jpg);
    }
  }
}
@media only screen and (min-width: 769px) {
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/index/bg-desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/index/bg-desk@2x.jpg);
    }
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-white);
  text-align: center;
  max-width: 320px;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .main-title {
    margin-bottom: 48px;
  }
}
.hero-btn {
  display: block;
  color: var(--color-white);
  background-color: var(--color-iris);
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: var(--transition-bg);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-ocean);
}

/* ========= */
/* Section 2 */
/* ========= */
.features {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.features-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
  }
}
.features-item {
  max-width: 396px;
}
@media only screen and (min-width: 768px) {
  .features-item {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .features-item {
    width: 264px;
  }
}
.features-icon-container {
  display: none;
}
@media screen and (min-width: 1158px) {
  .features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--color-cloud);
    border-radius: 4px;
  }
}
.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .features-subtitle {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .features-subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
  }
}
.mob-desc {
  font-weight: 500;
}
@media only screen and (min-width: 1158px) {
  .mob-desc {
    font-weight: 400;
  }
}
/* ========= */
/* Section 3 */
/* ========= */
.preview {
  display: none;
}
@media screen and (min-width: 1158px) {
  .preview {
    display: block;
    padding-bottom: 120px;
  }
}
.preview-container {
  flex-direction: column;
}
.preview-title {
  text-align: center;
  margin-bottom: 72px;
}
.preview-list {
  display: flex;
  gap: 24px;
}

/* ========= */
/* Section 4 */
/* ========= */
.team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--color-cloud);
}
@media only screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.team-title {
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}
.team-item {
  max-width: 264px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-sub {
  text-align: center;
  margin-bottom: 8px;
}
.team-desc {
  text-align: center;
  margin-bottom: 8px;
}
/* Team socials */
.team-socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-socials-item {
  width: 40px;
  height: 40px;
}
.team-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  transition: var(--transition-bg);
}
.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--color-ocean);
}
.team-icon {
  fill: var(--color-cloud);
}

/* ========= */
/* Section 5 */
/* ========= */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.customers-title {
  text-align: center;
  margin-bottom: 72px;
  line-height: 1.1;
}
.customers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
.customers-item {
  width: 190px;
  height: 88px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-light-slate);
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  transition: border-color var(--transition), var(--transition-color);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--color-ocean);
  border-color: var(--color-ocean);
}
.customers-icon {
  fill: currentColor;
}

/* =============Portfolio=========== */
.projects {
  padding-top: 96px;
  padding-bottom: 120x;
}

/* ======= */
/* Filters */
/* ======= */
.filters-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}
@media only screen and (min-width: 768px) {
  .filters-list {
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1158px) {
  .filters-list {
    margin-bottom: 72px;
  }
}
.filters-item :hover,
.filters-item :focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}
.filters-btn {
  padding: 12px 24px;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  transition: var(--transition-color), var(--transition-bg),
    border-color var(--transition), box-shadow var(--transition);
}

/* ==== */
/* Rows */
/* ==== */
.projects-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 48px;
}
@media only screen and (min-width: 768px) {
  .projects-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    margin-bottom: 96px;
  }
}
@media only screen and (min-width: 1158px) {
  .projects-list {
    row-gap: 48px;
    margin-bottom: 120px;
  }
}
.projects-item {
  max-width: 396px;
}
@media only screen and (min-width: 768px) {
  .projects-item {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .projects-item {
    width: calc((100% - 48px) / 3);
  }
}
.projects-link {
  display: block;
  transition: box-shadow var(--transition);
}
.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.image-box {
  position: relative;
  overflow: hidden;
}
.image-box-desc {
  position: absolute;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translatey(100%);
  transition: transform var(--transition);
  color: var(--color-cloud);
  background-color: var(--color-iris);
}
.projects-link:hover .image-box-desc,
.projects-link:focus .image-box-desc {
  transform: translatey(0%);
}
.projects-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}
.project-subtitle {
  margin-bottom: 8px;
}

/* ============Modal Window============ */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-delay: 250ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  min-height: 576px;
  padding: 72px 24px 24px;
  background-color: var(--color-dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition);
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
/* Modal close button */
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: var(--transition-bg), border var(--transition);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-ocean);
  border: none;
}
.modal-icon {
  fill: var(--color-navy-blue-modal);
  transition: fill var(--transition);
}
.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: var(--color-white);
}
.modal-subtitle {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}
/* Inputs */
.modal-form {
}
.modal-form-item {
  display: block;
  margin-bottom: 8px;
}
.modal-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: var(--color-light-slate);
}
.modal-input-container {
  position: relative;
  display: flex;
  align-items: center;
}
.modal-input-area {
  font-size: 18px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: none;
  transition: border-color var(--transition);
}
.modal-input-area:focus {
  border-color: var(--color-iris);
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  transition: fill var(--transition);
}
.modal-input-area:focus + .modal-input-icon {
  fill: var(--color-iris);
}
/* Textarea */
.modal-form-comment {
  display: block;
  margin-bottom: 16px;
  padding: 0;
}
.modal-comment-area {
  font-size: 18px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  transform: border-color var(--transition);
}
.modal-comment-area:focus {
  border-color: var(--color-iris);
}
.modal-comment-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
}
/* Checkbox */
.modal-form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
}
.modal-form-checkbox::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: var(--transition-bg);
  transition: border-color var(--transition);
}
.checkbox:checked + .modal-form-checkbox::before {
  background-color: var(--color-ocean);
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 8px;
  border-color: var(--color-ocean);
}
.checkbox:focus + .modal-form-checkbox::before {
  border-color: var(--color-iris);
}
.modal-policy {
  color: var(--color-iris);
}
/* Button */
.modal-form-btn {
  display: block;
  align-self: center;
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--color-iris);
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: var(--transition-bg);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--color-ocean);
}

/* Mobile menu */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 168px;
  padding-left: 24px;
  background-color: var(--color-white);
  z-index: 2;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-cornflower);
  border-radius: 50%;
  border: 1px solid #2e2f42;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 120px;
}

.mobile-nav-item {
  display: block;
  color: var(--color-navy-blue);
  text-decoration: none;
}
.mobile-nav-item:active {
  color: var(--color-ocean);
}
.mobile-current {
  color: var(--color-ocean);
}
.mobile-contacts {
  margin-bottom: 120px;
}
.mobile-menu-number {
  margin-bottom: 40px;
}
.mobile-menu-mail {
  color: var(--color-slate);
}
.mobile-menu-socials {
  gap: 56px;
}
